* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

#nav-bar {
    overflow: auto;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-transform: bold;
    font-size: 25px;
    color: white;
    background-color: black;
}

#nav-left {
    float: left;
}
#title-halved {
    color: #c200a5;
}
